<header>
    <nav class="navbar navbar-expand-lg  blur blur-rounded shadow  my-3 ">
        <div class="container-fluid">
            <a class="navbar-brand navbar-brand mb-0 h1" href="#">
                <img th:src="@{/images/LEGACY GAMES.png}" width="70">
                Legacy Games
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                    <li class="nav-item mx-2">
                        <a th:href= "'/games'"  class="nav-link d-flex justify-content-between  align-items-center">
                            All games
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a th:href= "'/games/stock'"  class="nav-link d-flex justify-content-between align-items-center">
                            Add games
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--<nav class="navbar navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="#">-->
<!--            <img th:src="@{/images/LEGACY GAMES.png}" alt="" width="70" height="70" class="d-inline-block align-text-top">-->

<!--            LEGACY GAMES-->
<!--        </a>-->

<!--    </div>-->
<!--</nav>-->