body {
    background-color: black;
    font-family: Arial;
}
header {
    background-color: #ffffff80;
    box-shadow: 0 5px rgba(144, 144, 144, 0.5);
}
.nav-link {
    color: black;
}
.nav-link:hover {
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    color: black;
}
h1 {
    color: orange;
}
h2 {
    color: orange;
    text-align: center;
}
label {
    color: orange;

}
.form-control {
    background-color: transparent;
    color: white;
}
.gamefilter {
    display: flex;

}
.gamefilter li {
    margin: auto;
}
.cards{
    display: flex;
    align-items: self-start;

}
.footer{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    margin: auto;
}

.col-md6 {
    width: 90%;
    margin: 15px 0;
}

