body {
    background-color: black;
    font-family: Arial;
}
header {
    background-color: #ffffff80;
    box-shadow: 0 5px rgba(144, 144, 144, 0.5);
}
.gamelist {
    color: white;
}
.nav-link {
    color: black;
}
.navbar-brand {
    color: black;
}

