<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Platform</th>
            <th>Year</th>
            <th>Price (original)</th>
            <th>Etiqueta</th>
            <th>Discount %</th>
            <th>Price (discount)</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>PEGI</th>
            <th>PEGI content descriptors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <th scope="row" th:text="${book.id}"></th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.category}"></td>
        </tr>
        </tbody>
    </table>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>