<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">



    <h1 th:text="${title}"></h1>
    <div class="table">
<!--       <thead>-->
<!--        <tr>-->
<!--            <th scope="col" >Id</th>-->
<!--            <th scope="col" >Title</th>-->
<!--            <th scope="col" >Platform</th>-->
<!--            <th scope="col" >Year</th>-->
<!--            <th scope="col" >Price (original)</th>-->
<!--            <th scope="col" >Etiqueta</th>-->
<!--            <th scope="col" >Discount %</th>-->
<!--            <th scope="col" >Price (discount)</th>-->
<!--            <th scope="col" >Category</th>-->
<!--            <th scope="col" >Publisher</th>-->
<!--            <th scope="col" >PEGI</th>-->
<!--            <th scope="col" >PEGI content descriptors</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

        <div class="game" th:each="game: ${games}">
            <img th:src="@{/images/default.jpg}">
            <div class="gameTitle" th:text="${game.title}"></div>
            <div th:text="${game.platform}"></div>
            <div th:text="${game.pegi}"></div>
       <div class="cardFooter">
           <div class="gameDiscount" th:text="${game.discount}"></div>
         <div class="prices">
            <div th:text="${game.price}"></div>
            <div th:text="${game.priceDiscount}"></div>
         </div>
       </div>


        </div>

<!--        </tbody>-->

    </div>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>