
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head"></head>

<body>
<header th:replace="fragments/header"></header>

<section class="container">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/games/stock}" th:object="${game}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" th:field="*{id}">
            <label class="col-md2" for="title">Title</label>
            <input th:field="*{title}" type="text" class="col-md6 form-control" id="title">
        </div>
         <div>
            <label class="col-md2" for="photo">Photo</label>
            <input type="file" name="image" accept="image/png, image/jpeg", id="photo" class="col-md6 form-control">
         </div>
        <div class="form-group">
            <label class="col-md2" for="platform">Platform</label>
            <input th:field="*{platform}" type="text" class="col-md6 form-control" id="platform">
        </div>
        <div class="form-group">
            <label class="col-md2" for="year">Year</label>
            <input th:field="*{year}" type="text" class="col-md6 form-control" id="year">
        </div>
        <div class="form-group">
            <label class="col-md2" for="price">Price</label>
            <input th:field="*{price}" type="text" class="col-md6 form-control" id="price">
        </div>
        <div class="form-group">
            <label class="col-md2" for="tag">Tag</label>
            <input th:field="*{tag}" type="text" class="col-md6 form-control" id="tag">
        </div>
        <div class="form-group">
            <label class="col-md2" for="priceDiscount">PriceDiscount</label>
            <input th:field="*{priceDiscount}" type="text" class="col-md6 form-control" id="priceDiscount">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Category</label>
            <select th:field="*{category}" type="text" class="col-md6 form-control" id="category">
                <option th:each="category: ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-md2" for="publisher">Publisher</label>
            <input th:field="*{publisher}" type="text" class="col-md6 form-control" id="publisher">
        <div class="form-group">
            <label class="col-md2" for="pegi">PEGI</label>
            <input th:field="*{pegi}" type="text" class="col-md6 form-control" id="pegi">
        </div>
        <div class="card-footer ">
            <input type="submit" class="btn btn-warning btn-sm" value="Save"/>
        </div>
        </div>
    </form>
</section>
</body>
</html>
